/**
 * CSS for the admin pane
 *
 * @link       https://www.podcaster.de
 * @since      1.0.0
 *
 * @package    Podcaster_Bridge
 * @subpackage Podcaster_Bridge/admin
 * @author     Fabio <bridge@podcaster.de>, Aidan Lovelace <aidan@aidanlovelace.com>
 */
 
.podcaster-logo {
    width: 200px;
    height: auto;
    margin: 25px 0;
}

.podcaster-plain-link {
    color: #ccc;
    text-decoration: none;
}

.podcaster-plain-link:hover {
    color: #aaa;
}